[Unit]
Description="ddddst"
After=network-online.target

[Service]
User=<your username>
WorkingDirectory=<path to your project directory>
Environment="PATH=<path to virtual environment>/bin"
ExecStart=ddddst.py

[Install]
WantedBy=multi-user.target